﻿@model IEnumerable<WebUI.Models.Product>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table id="products" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Product</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#products").DataTable({
                ajax: {
                    url: "/api/product",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, product) {
                            return "<a href='/product/details/" + product.id + "'>" + product.name + "</a>";
                        }
                    },
                    {
                        data: "cost",
                        render: function (data, type, product) {
                            return "<a href='/product/details/" + product.id + "'>" + product.cost + "</a>";
                        }
                    }
                ]
            });
        });
    </script>
}
