﻿@model IEnumerable<WebUI.Models.Product>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("New Product", "New", "Product", null, new { @class = "btn btn-primary" })
</p>

<table id="products" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Product</th>
            <th>Cost</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#products").DataTable({
                ajax: {
                    url: "/api/product",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, product) {
                            return "<a href='/product/edit/" + product.id + "'>" + product.name + "</a>";
                        }
                    },
                    {
                        data: "cost",
                        render: function (data, type, product) {
                            return "<a href='/product/edit/" + product.id + "'>" + product.cost + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-product-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });


            $("#products").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this product?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/product/" + button.attr("data-product-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
