﻿<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
			</button>
			@Html.ActionLink("APP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
		</div>
		<div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Домашняя страница", "Index", "Home", new { area = "" }, new { @class = "nav-item navbar-link" })
                </li>
                @if (Request.IsAuthenticated)
                {
                    <li>
                        @Html.ActionLink("Customers", "Index", "Customer", new { area = "" }, new { @class = "nav-item navbar-link" })
                    </li>
                    <li>
                        @Html.ActionLink("Products", "Index", "Product", new { area = "" }, new { @class = "nav-item navbar-link" })
                    </li>
                    <li>
                        @Html.ActionLink("Sellers", "Index", "Seller", new { area = "" }, new { @class = "nav-item navbar-link" })
                    </li>
                    <li>
                        @Html.ActionLink("Orders", "Index", "Order", new { area = "" }, new { @class = "nav-item navbar-link" })
                    </li>
                }
                <li>
                    @Html.ActionLink("О программе", "About", "Home", new { area = "" }, new { @class = "nav-item navbar-link" })
                </li>
                <li>
                    @Html.ActionLink("Контакт", "Contact", "Home", new { area = "" }, new { @class = "nav-item navbar-link" })
                </li>
            </ul>
			@Html.Partial("_LoginPartial")
		</div>
	</div>
</div>
