﻿@model WebUI.Models.Order
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Save", "Order"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, "{0:d MMM yyyy H:mm:ss}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Date)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Product.Name)
        @Html.TextBoxFor(m => m.Product.Name, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.Product.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Product.Cost)
        @Html.TextBoxFor(m => m.Product.Cost, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.Product.Cost)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProductCount)
        @Html.TextBoxFor(m => m.ProductCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProductCount)
    </div>
    <div class="form-group">
        @Html.Label("totalCost", "Total cost")
        @*@Html.TextBox(Model.ProductCount * Model.Product.Cost, new { @class = "form-control", @readonly = "readonly" })*@
    </div>
    <div class="form-group">
        @Html.Label(Model.Customer.Name + " " + Model.Customer.Surname)
        @Html.TextBox(m => m.ProductCount * m.Product.Cost, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        @Html.Label(Model.Seller.Name + " " + Model.Seller.Surname)
        @Html.TextBox(m => m.ProductCount * m.Product.Cost, new { @class = "form-control", @readonly = "readonly" })
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ProductId, new { @id = "productId"})
    @Html.HiddenFor(m => m.CustomerId, new { @id = "customerId" })
    @Html.HiddenFor(m => m.SellerId, new { @id = "sellerId" })
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}
