﻿@model IEnumerable<WebUI.Models.Order>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table id="orders" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Order date</th>
            <th>Product</th>
            <th>Product price</th>
            <th>Quantity</th>
            <th>Total cost</th>
            <th>Customer</th>
            <th>Seller</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#orders").DataTable({
                serverSide: true,
                processing: true,
                searching: true,
                lengthMenu: [10, 25, 50, 75, 100],
                ordering: false,
                pageLength: 10,
                ajax: {
                    url: "/api/order"
                },
                columns: [
                    {
                        data: "date",
                        render: function (data, type, order) {
                            return "<a href='/order/details/" + order.id + "'>" + order.date + "</a>";
                        }
                    },
                    {
                        render: function (data, type, order) {
                            return "<a href='/order/details/" + order.id + "'>" + order.product.name + "</a>";
                        }
                    },
                    {
                        render: function (data, type, order) {
                            return "<a href='/order/details/" + order.id + "'>" + order.product.cost + "</a>";
                        }
                    },
                    {
                        data: "productCount",
                        render: function (data, type, order) {
                            return "<a href='/order/details/" + order.id + "'>" + order.productCount + "</a>";
                        }
                    },
                    {
                        render: function (data, type, order) {
                            return "<a href='/order/details/" + order.id + "'>" + order.productCount * order.product.cost + "</a>";
                        }
                    },
                    {
                        render: function (data, type, order) {
                            return "<a href='/order/details/" + order.id + "'>" + order.customer.name + " " + order.customer.surname + "</a>";
                        }
                    },
                    {
                        render: function (data, type, order) {
                            return "<a href='/order/details/" + order.id + "'>" + order.seller.name + " " + order.seller.surname + "</a>";
                        }
                    }
                ]
            });
        });
    </script>
}
