﻿@model IEnumerable<WebUI.Models.Order>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@*<p>
    @Html.ActionLink("New Order", "New", "Order", null, new { @class = "btn btn-primary" })
</p>*@

<a class="editor_create">Create new record</a>
<table id="orders" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Order date</th>
            <th>Product</th>
            <th>Product price</th>
            <th>Quantity</th>
            <th>Total cost</th>
            <th>Customer</th>
            <th>Seller</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        var editor;

        $(document).ready(function () {
            editor = new $.fn.dataTable.Editor({
                "ajax":
                {
                    create: {
                        type: 'POST',
                        url: '/api/order/create'
                    },
                    edit: {
                        type: 'PUT',
                        url: '/api/order/update'
                    },
                    remove: {
                        type: 'DELETE',
                        url: '/api/order/delete'
                    }
                }    ,
                "table": "#orders",
                idSrc: 'id',
                "fields": [
                    {
                        "name": "id",
                        "type": "hidden"
                    },
                    {
                        "label": "Order date:",
                        "name": "date",
                        "type": "datetime"
                    },
                    {
                        "label": "Product:",
                        "name": "productId",
                        "type": "select"
                    },
                    {
                        "label": "Quantity:",
                        "name": "productCount"
                    },
                    {
                        "label": "Customer:",
                        "name": "order.customerId",
                        "type": "select"
                    },
                    {
                        "label": "Seller:",
                        "name": "order.sellerId",
                        "type": "select"
                    }
                ]
            });

            // New record
            $('a.editor_create').on('click', function (e) {
                e.preventDefault();

                editor.create({
                    title: 'Create new record',
                    buttons: 'Add'
                });
            });

            // Edit record
            $('#orders').on('click', 'a.editor_edit', function (e) {
                e.preventDefault();

                editor.edit($(this).closest('tr'), {
                    title: 'Edit record',
                    buttons: 'Update'
                });
            });

            // Delete a record
            $('#orders').on('click', 'a.editor_remove', function (e) {
                e.preventDefault();

                editor.remove($(this).closest('tr'), {
                    title: 'Delete record',
                    message: 'Are you sure you wish to remove this record?',
                    buttons: 'Delete'
                });
            });


            var table = $("#orders").DataTable({
                serverSide: true,
                processing: true,
                searching: true,
                lengthMenu: [10, 25, 50, 75, 100],
                ordering: false,
                pageLength: 10,
                ajax: {
                    url: "/api/order"
                },
                columns: [
                    {
                        data: "date",
                        render: function (data, type, order) {
                            return order.date + "";
                        }
                    },
                    {
                        render: function (data, type, order) {
                            return order.product.name;
                        }
                    },
                    {
                        render: function (data, type, order) {
                            return order.product.cost + "";
                        }
                    },
                    {
                        data: "productCount",
                        render: function (data, type, order) {
                            return order.productCount + "";
                        }
                    },
                    {
                        render: function (data, type, order) {
                            return order.productCount * order.product.cost + "";
                        }
                    },
                    {
                        render: function (data, type, order) {
                            return order.customer.name + " " + order.customer.surname;
                        }
                    },
                    {
                        render: function (data, type, order) {
                            return order.seller.name + " " + order.seller.surname;
                        }
                    },
                    {
                        data: null,
                        className: "center",
                        defaultContent: '<a href="" class="editor_edit">Edit</a> / <a href="" class="editor_remove">Delete</a>'
                    }
                ],
                select: false,
                buttons: [
                    { extend: "create", editor: editor },
                    { extend: "edit", editor: editor },
                    { extend: "remove", editor: editor }
                ]
            });


            //$("#orders").on("click", ".js-delete", function () {
            //    var button = $(this);

            //    bootbox.confirm("Are you sure you want to delete this order?", function (result) {
            //        if (result) {
            //            $.ajax({
            //                url: "/api/order/" + button.attr("data-order-id"),
            //                method: "DELETE",
            //                success: function () {
            //                    table.row(button.parents("tr")).remove().draw();
            //                }
            //            });
            //        }
            //    });
            //});
        });
    </script>
}
