﻿@model IEnumerable<WebUI.Models.Customer>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers").DataTable({
                serverSide: true, 
                ajax: {
                    url: "/api/customer",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, customer) {
                            return "<a href='/customer/details/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "surname",
                        render: function (data, type, customer) {
                            return "<a href='/customer/details/" + customer.id + "'>" + customer.surname + "</a>";
                        }
                    }
                ]
            });
        });
    </script>
}
