﻿@model IEnumerable<WebUI.Models.Seller>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("New Seller", "New", "Seller", null, new { @class = "btn btn-primary" })
</p>

<table id="sellers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#sellers").DataTable({
                serverSide: true, 
                ajax: {
                    url: "/api/seller"
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, seller) {
                            return "<a href='/seller/edit/" + seller.id + "'>" + seller.name + "</a>";
                        }
                    },
                    {
                        data: "cost",
                        render: function (data, type, seller) {
                            return "<a href='/seller/edit/" + seller.id + "'>" + seller.cost + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-seller-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });


            $("#sellers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this seller?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/seller/" + button.attr("data-seller-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
