﻿@model IEnumerable<WebUI.Models.Seller>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table id="sellers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#sellers").DataTable({
                serverSide: true,
                processing: true,
                searching: true,
                lengthMenu: [10, 25, 50, 75, 100],
                ordering: false,
                pageLength: 10,
                ajax: {
                    url: "/api/seller"
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, seller) {
                            return "<a href='/seller/details/" + seller.id + "'>" + seller.name + "</a>";
                        }
                    },
                    {
                        data: "surname",
                        render: function (data, type, seller) {
                            return "<a href='/seller/details/" + seller.id + "'>" + seller.surname + "</a>";
                        }
                    }
                ]
            });
        });
    </script>
}
